@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+A&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Noto Sans Linear A", serif;
  font-size: 25px;
  --secondary-background: #efefef;
  --primary-background: #f1f1f1;
}

body {
  background: var(--secondary-background);
}

.app {
  display: flex;
}

.main_page {
  width: 100%;
  padding: 26px;
  height: 100dvh;
  overflow-y: scroll;
}

.main_page h1 {
  font-size: 1.6rem;
}

.wmde-markdown {
  background-color: #fff !important;
  color: #000 !important;
}

.verify {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100dvh;
  background: #ffffff;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verify div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verify div p {
  margin-top: 20px;
  font-size: 0.7rem;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 1;
  --c: no-repeat radial-gradient(farthest-side, #514b82 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 10px 10px;
  animation: l18 1s infinite;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg, #514b82 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}
@keyframes l18 {
  100% {
    transform: rotate(0.5turn);
  }
}

/* HTML: <div class="loader"></div> */
.loader_2 {
  width: 30px;
  aspect-ratio: 1;
  --c: no-repeat radial-gradient(farthest-side, #514b82 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 10px 10px;
  animation: l18 1s infinite;
  position: relative;
}
.loader_2::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg, #514b82 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}
@keyframes l18 {
  100% {
    transform: rotate(0.5turn);
  }
}

.loading_container {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
